@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

font{
  font-family: 'Roboto', sans-serif;;
}

.nav__img--size{
  width: 10%;
}

.map-container{
  overflow:hidden;
  padding-bottom:56.25%;
  position:relative;
  height:0;
}
.map-container iframe{
  left:0;
  top:0;
  height:100%;
  width:100%;
  position:absolute;
}

.btn-color1{
  background-color: #07B5B5;
  color: white;
}

.bg__footer{
  background-color: #07B5B5;
}

.footer__position{
  position: bottom;
}